.session-length-chart {
    position: relative;
    padding: 0 !important;
    background: var(--color-red) !important;
}

.session-length-chart .chart-title {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.session-length-chart .chart-title .white-color {
    display: block;
    max-width: 14rem;
    color: rgb(255 255 255 / .7);
    line-height: 1.6;
}

.session-length-chart .recharts-wrapper {
    width: 100%;
    height: 100%;
}

.session-length-chart .recharts-responsive-container {
    width: 100% !important;
    height: 100% !important;
}
